:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #36454F;
  --color-light: #F8F8F8;
  --color-accent: rgb(244, 232, 255);
  --primary: #9784EB ;
  --secondary: #c1acff;
  --tertiary: #E2D9FF;
}

img {
  border-radius: 4px;
}

html {
  background-color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

.menu-header {
  font-weight: 200;
}

aside {
  background: var(--tertiary);

  @media (min-width: 967px) {
    background: var(--color-light);
  }
}

aside header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-size: 36px;
  font-weight: 100;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 32px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  height: var(--header-height);
  /* padding: 0 1rem; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-menu-mobile-toggle {
  font-size: 42px;
  color: var(--primary);

  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile-toggle h3 {
  margin: 0;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
}

.header-menu-mobile > * {
  outline: none;
  position: relative;
  padding: 16px 24px;
  font-size: 24px;
  color: var(--color-dark);
  background: var(--secondary);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 967px) {
    display: flex;
    grid-gap: 1rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 967px) {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
    background: var(--color-light);
    border-radius: 50px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }
}

.header-ctas a:hover {
  background: rgb(227, 227, 227) !important;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  overflow-x: hidden;
  margin: 0 16px;
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-icon {
  display: flex;
  align-items: start;
  font-size: 24px;
}

.header-search {
  font-size: 24px;
  display: inline-flex
}

.cart-count {
  font-size: 12px;
  height: 17px;
  width: 17px;
  background: red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--color-light);
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.checkout-button-wrapper {
  width: 100%;
}

.cart-summary-aside {
  background: var(--tertiary);
  width: 100% !important;
  bottom: 0;
  padding: 8px;
  width: calc(var(--aside-width) - 15px)
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  padding: 24px 0;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  @media (min-width: 45em) {
    padding: 24px 48px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-products-grid h4 {
  @media (min-width: 45em) {
    font-size: 20px;
    font-weight: 300;
  }
}

.recommended-products-grid a {
  text-decoration: none;
}

.recommended-products-grid small {
  @media (min-width: 45em) {
    font-size: 16px;
    font-weight: 600;
  }
}

.recommended-products h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}

.page header {
  text-align: center;
}

.heading-2 {
  font-size: 32px;
}

.header-1 {
  font-size: 48px;
  font-weight: 300;

  @media(min-width: 967px) {
    font-size: 72px;
  }
}

.load-more {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 42px;
  border-radius: 50px;
  padding: 16px 0;
  transition: all 250ms ease-in;
}

.load-more:hover {
  background: var(--primary);
  color: var(--color-light);

}

.btm-3 {
  margin-bottom: 24px;
}
.btm-4 {
  margin-bottom: 32px;
}
.btm-5 {
  margin-bottom: 40px;
}

.body-copy-1 {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.6;

  @media(min-width: 967px) {
    font-size: 24px;
  } 
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  padding: 0;
  width: 100%;
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    width: 60%;
    margin: 0 auto;
    padding: 48px 0;
  }
}

.add-to-cart-button {
  cursor: pointer;
  font-size: 18px;
  border: none;
  background: var(--primary);
  padding: 18px 0;
  color: var(--color-light);
  border-radius: 1px;
  transition: background 100ms ease-in-out;
  width: 100%;

  @media (min-width: 967px) {
    width: 300px;
  }
}

.add-to-cart-button:hover {
  background: var(--secondary);
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
  object-fit: contain;
  @media (min-width: 967px) {
    height: 400px;
    width: 400px;
  }
}

.product-description-header {
  padding: 0 20px;
  position: relative;
}

.product-description-header::before {
  content: "";
  display: inline-block;
  height: 3px;
  opacity: 1;
  width: 50%;
  position: absolute;
  bottom: 0;
  background: var(--tertiary);
}

.product-description {
  padding: 0 16px;
  border-left: 3px solid var(--primary);
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}
