.headerLogo {
    @media(min-width: 967px) {
    }
}
.header {
    background: var(--color-light);
    overflow-x: hidden;
    z-index: 9;
    @media(min-width: 967px) {
        overflow-x: visible;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 24px;
    }
}
.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    @media(min-width: 967px) {
        grid-gap: 24px;
        display: flex;
        width: inherit;
        height: inherit;
        display: inline;
    }
}
.navbarProduct {
    @media(min-width: 967px) {
        grid-gap: 0;    
        background: var(--tertiary);
        border-radius: 50px;
        padding: 8px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
}

.navbar a {
    color: var(--color-dark);
    @media(min-width: 967px) {
        padding: 8px 16px;
        text-decoration: none;
        transition: all 200ms ease-in-out;
    }
}

.navbar a:hover {
    @media(min-width: 967px) {
        background: var(--secondary);
        border-radius: 50px;
    }
}

.banner {
    display: none;
    @media(min-width: 967px) {
        height: 140px;
        margin-top: 20px;
        display: block;
        max-width: 300px;
    }
}

.navbarWrapper {
    position: relative;
}
.headerCta {
    @media (min-width: 967px) {
        position: absolute;
        top: 150px;
        right: 0;
    }
}

.stripe {
    background: var(--color-accent);
    width: 20px;
    height: 100%;
    @media(min-width: 967px) {
        width: 150px;
    }
}

.daddyStripe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    transform: skewX(60deg);
}

.announcementBanner {
    position: relative;
    color: var(--tertiary);
    z-index: 100;
    background-color: var(--primary);
    text-align: center;
    font-weight: 200;
    font-size: 16px;
}

.announcementBanner p {
    margin-top: 2px;
}