.headerLogo {
    @media(min-width: 967px) {
    }
}
.header {
    background: var(--color-light);
    @media(min-width: 967px) {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.navbar {
    @media(min-width: 967px) {
        grid-gap: 24px;
        display: flex;
    }
}
.navbarProduct {
    @media(min-width: 967px) {
        grid-gap: 0;    
        background: var(--tertiary);
        border-radius: 50px;
        padding: 8px;
    }
}

.navbar a {
    color: var(--color-dark);
    @media(min-width: 967px) {
        padding: 8px 24px;
        text-decoration: none;
        transition: all 200ms ease-in-out;
    }
}

.navbar a:hover {
    @media(min-width: 967px) {
        background: var(--secondary);
        border-radius: 50px;
    }
}

.banner {
    display: none;
    @media(min-width: 967px) {
        display: block;
        max-width: 300px;
        margin-bottom: -18px;
    }
}