.carouselProgress {
  display: flex;
  gap: 24px;
  background: white;
  margin-top: 24px;
  width: 100%;
}
  

.carouselProgressBarBg {
  height: 4px;
  background: #ccc;
  width: 100%;
  }

.carouselProgressBar {
  height: 4px;
  background: purple;
  width: 0;
  transition: width 350ms ease-in-out;
}

.scrolledTo {
  width: 100%;
}