.carouselProgress {
  display: flex;
  gap: 24px;
  background: var(--color-light);
  margin-top: 24px;
  width: 100%;
}
  

.carouselProgressBarBg {
  height: 4px;
  background: var(--tertiary);
  width: 100%;
  }

.carouselProgressBar {
  height: 4px;
  background: var(--primary);
  width: 0;
  transition: width 350ms ease-in-out;
}

.scrolledTo {
  width: 100%;
}

.image {
  height: 100%;
  
  @media (max-width: 768px) {
    object-fit: contain;
    width: 100%;
  }
}