.image {
    width: 100%;
}

.container {
    background: var(--color-light);
    box-shadow: -14px -12px 8px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.wrapper {
    padding: 16px;
}

.description {
    font-size: 32px;
    font-weight: 500;
}
